

<div class="text-center">
    <button (click)="loadCurrentTime()" class="rounded btn btn-lg">Add Current Time</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>time</th>
            <th>Client IP</th>
            <th>UTC Time</th>
            <th>Time Zone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let currentTime of CurrentTimeQueries">
            <td>{{currentTime.currentTimeQueryId}}</td>
            <td>{{currentTime.time}}</td>
            <td>{{currentTime.clientIp}}</td>
            <td>{{currentTime.utcTime}}</td>
            <td>{{currentTime.timeZone}}</td>
        </tr>
    </tbody>
</table>